<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/styles/css/style.css">
        <title>Titre</title>
    </head>
    
    <body>
        <section>
            <h1 class="hidden">Titre</h1>
            <header>
                <nav>
                    <figure>
                        <img src="https://creativelayers.net/themes/edumy-html/images/header-logo.png" alt="logo">
                    </figure>
                    <ul id="nav">
                        <li>Home</li>
                        <li>Courses</li>
                        <li>Events</li>
                        <li>Pages</li>
                        <li>Blog</li>
                        <li>Contact</li>
                    </ul>
                    
                    <ul id="connect">
                        <li>Login/Register</li>
                        <li>U</li>
                        <li>O</li>
                    </ul>
                </nav>
            
                <section>
                    <h2>COURSES</h2>
                        <p>Home / Graphic Design / Adobe Illustrator</p>
                </section>
            
            </header>
        </section>
        <main>
            <article>
                <h2 class="hidden">Article</h2>
            <section>
                <h2 class="hidden">Auteur</h2>
                
                <ul>
                    <li><img src="https://creativelayers.net/themes/edumy-html/images/team/4.png" alt ="" width="50px" height="50px" border-radius="100%"></li>
                    <li>Ali TUFAN</li>
                    <li>Last updated 11/2019</li>
                </ul>  
            </section>
            <section>
                <h2>Designing a Responsive Mobile Website with Muse</h2>
                    <p> 57,869 students enrolled  25 Review</p>
                    <video controls>
                        <source src="https://youtu.be/57LQI8DKwec" type="video/mp4">
                    </video>
            </section>
            </article>
            
            <section id="overview">
                <h2>Overview</h2>
                    <h3>Course Description</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <h3>What you'll learn</h3>
            <section>
                    <ul>
                        <li>Become a UX designer.</li>
                        <li>You will be able to add UX designer to your CV</li>
                        <li>Become a UI designer.</li>
                        <li>Build & test a full website design.</li>
                        <li>Build & test a full mobile app.</li>
                    </ul>
                    
                    <ul>
                        <li> Learn to design websites & mobile phone apps.</li>
                        <li> You'll learn how to choose colors.</li>
                        <li> Prototype your designs with interactions.</li>
                        <li> Export production ready assets.</li>
                        <li> All the techniques used by UX professionals</li>
                    </ul>
            </section>
                    <h3>Requirements</h3>
                        <ul>
                            <li> You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from Adobe.</li>
                            <li> No previous design experience is needed.</li>
                            <li> No previous Adobe XD skills are needed.</li>
                        </ul>
            </section>
            
            <section id="course_content">
                <h2>Course Content</h2>
                    <h4>Getting started</h4>
                        <ul>
                             <li>Lecture 1.1 Introduction to the User Experience Course Preview 02:53 </li>
                             <li>Lecture 1.2 Exercise: Your first design challenge Preview 02:53 </li>
                             <li>Lecture 1.3 How to solve the previous exercise Preview 02:53 </li>
                             <li>Lecture 1.4 Find out why smart objects are amazing Preview 02:53 </li>
                             <li>Lecture 1.5 How to use text layers effectively Preview 02:53 </li>
                        </ul>
                    <h4>The Brief</h4>
                    <h4>Wireframing Low Fidelity</h4>
                    <h4>Type, Color and Icon Introduction</h4>
            </section>
            
            <section id="instructor">
                <figure>
                    <img src="https://creativelayers.net/themes/edumy-html/images/team/6.png" alt="">
                </figure>
                <p>     4.5 Instructor Rating 12,197 Reviews  141,745 Students  5 Courses</p>
                <h2>About the instructor</h2>
                    <h4>Ali Tufan</h4>
                    <p>UX/UI Designer</p>
                    <p>UI/UX Designer, with 7+ Years Experience. Guarantee of High Quality Work.</p>
                    <p>Skills: Web Design, UI Design, UX/UI Design, Mobile Design, User Interface Design, Sketch, Photoshop, GUI, Html, Css, Grid Systems, Typography, Minimal, Template, English, Bootstrap, Responsive Web Design, Pixel Perfect, Graphic Design, Corporate, Creative, Flat, Luxury and much more.</p>
            
                <p>Available for: </p>
                    <ol>
                        <li>Full Time Office Work</li>
                        <li> Remote Work</li>
                        <li>Freelance</li>
                        <li>Contract</li>
                        <li>Worldwide</li>
                    </ol>
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
