<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/styles/css/style.css">
        <title></title>
    </head>
    
    <body>
        <header>
            <nav>
                <figure>
                    <img src="https://creativelayers.net/themes/edumy-html/images/header-logo.png" alt="logo">
                </figure>
                <ul>
                    <li>Home</li>
                    <li>Courses</li>
                    <li>Events</li>
                    <li>Pages</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>
        <main>
            
        </main>
        <footer>
            
        </footer>
    </body>
</html>
